{% extends "base.html" %}
{% block content %}
<div class="form_wrapper auth_wrapper">
    <form method="POST" class="card auth_form">
        <h1 class="form_title">Reset your password</h1>

        <div class="input_box">
            <input class="form_input" type="email" name="email" placeholder="Email" required>
            <span class="icon">✉</span>
        </div>

        <button type="submit" class="form_btn auth_btn">
            Send reset link
        </button>
    </form>
</div>
{% endblock %}