{% extends "base.html" %}
{% block content %}
<div class="form_wrapper auth_wrapper">
    <form method="POST" class="card auth_form">
        <h1 class="form_title">Register</h1>

        <div class="input_box">
            <input class="form_input" type="text" name="username" placeholder="Username" required>
            <span class="icon">유</span>
        </div>

        <div class="input_box">
            <input class="form_input" type="email" name="email" placeholder="Email" required>
            <span class="icon">✉</span>
        </div>

        <div class="input_box">
            <input class="form_input" type="password" name="password" placeholder="Password" required>
            <span class="icon">ꄗ</span>
        </div>

        <button type="submit" class="form_btn auth_btn">Register</button>
    </form>
</div>
{% endblock %}