{% extends "base.html" %}
{% block content %}
<div class="form_wrapper auth_wrapper">
    <form method="POST" class="card auth_form">
        <h1 class="form_title">Reset Password</h1>

        <div class="input_box">
            <input class="form_input" type="password" name="password" placeholder="New Password" required>
            <span class="icon">ꄗ</span>
        </div>

        <button type="submit" class="form_btn auth_btn">
            Reset Password
        </button>
    </form>
</div>
{% endblock %}